<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaultXpert</title>
    <link rel="shortcut icon" href="./logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div id="loader">
        <h1>ENVIRONMENTS</h1>
        <h1>EXPERIENCES</h1>
        <h1>CONTENT</h1>
    </div>
    <div id="fixed-image">

    </div>
    <div id="main">
        <div id="page1">
            <nav>
                <img id="logo" style="height: 100px;" src="/static/logo.svg"
                    alt="">
                <div id="nav-part2">
                    <h4><a href="#main">Home</a></h4>
                    <h4><a href="/inspector">Inspector</a></h4>
                    <h4><a href="/dash">Dashboard</a></h4>
                    <h4><a href="/history">History</a></h4>
                </div>
                <h3>Menu</h3>
            </nav>
            <div id="center">
                <div id="left">
                    <h3>FaultXpert is a multi-disciplinary model focused on detecting small faults, with end-to-end experiences and
                        environments.</h3>
                </div>
                <div id="right">
                    <h1>SPACES <br>
                        THAT <br>
                        INSPIRE</h1>
                </div>

            </div>
            <video autoplay loop muted src="/static/video.mp4"></video>
        </div>
        <div id="page2">
            <div id="moving-text">
                <div class="con">
                    <h1>EXPERIENCES</h1>
                    <div id="gola"></div>
                    <h1>CONTENT</h1>
                    <div id="gola"></div>
                    <h1>ENVIRONMENTS</h1>
                    <div id="gola"></div>
                </div>
                <div class="con">
                    <h1>EXPERIENCES</h1>
                    <div id="gola"></div>
                    <h1>CONTENT</h1>
                    <div id="gola"></div>
                    <h1>ENVIRONMENTS</h1>
                    <div id="gola"></div>
                </div>
                <div class="con">
                    <h1>EXPERIENCES</h1>
                    <div id="gola"></div>
                    <h1>CONTENT</h1>
                    <div id="gola"></div>
                    <h1>ENVIRONMENTS</h1>
                    <div id="gola"></div>
                </div>
            </div>
            <div id="page2-bottom">
                <h1>We are a group of design- driven, goal-focused creators,  producers, and designers who
                    believe that the details  make all the difference.</h1>
                <div id="bottom-part2">
                    <img src="https://uploads-ssl.webflow.com/64d3dd9edfb41666c35b15b7/64d3dd9edfb41666c35b15d1_Holding_thumb-p-500.jpg"
                        alt="">
                    <p>We love to create, we love to solve, we love to collaborate, and we love to turn amazing ideas
                        into reality. We’re here to partner with you through every step of the process and know that
                        relationships are the most important things we build.</p>
                </div>
            </div>
            <div id="gooey">

            </div>
        </div>
        <div id="page3">
            <div id="elem-container">
                
            </div>
        </div>
        <footer>
            <div class="back-to-top">
                <a href="#page1">Back to top</a>
            </div>
        
            <div class="footer-links">
                <div class="footer-column">
                    <h3>Get to Know Us</h3>
                    <a href="#">About Us</a>
                    <a href="#">Careers</a>
                    <a href="#">Press Releases</a>
                    <a href="#">FaultXpert Science</a>
                </div>
        
                <div class="footer-column">
                    <h3>Make Money with Us</h3>
                    <a href="#">FaultXpert seller</a>
                    <a href="#">Sell under FaultXpert Accelerator</a>
                    <a href="#">Protect & Build Your Brand</a>
                    <a href="#">FaultXpert Global Selling</a>
                </div>
        
                <div class="footer-column">
                    <h3>Fa Payment Products</h3>
                    <a href="#">FaultXpert Business Card</a>
                    <a href="#">Shop with Points</a>
                    <a href="#">Reload Your Balance</a>
                    <a href="#">FaultXpert Currency/a>
                </div>
        
                <div class="footer-column">
                    <h3>Let Us Help You</h3>
                    <a href="#">COVID-19 and FaultXpert</a>
                    <a href="#">Your Account</a>
                    <a href="#">Returns Centre</a>
                    <a href="#">Help</a>
                </div>
            </div>
        
            <div class="footer-bottom">
                <p>&copy; 2025 FaultXpert.com | Designed by Mayank Kandpal</p>
            </div>
        </footer>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>